* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  color: white;
}

body {
  background: #1A1A1D;
}

.shopping-cart-card {
  background-color: #6A1E55
}

/*#3B1C32*/
/*#A64D79*/